blockquote.subtitle {
    margin: 2rem 0;
    display: inline-block;
    font-size: 1.6rem;
    color: $black;
    font-style: italic;
    font-weight: $light;
    border-left: .2rem solid $primary;
}